:root {}

.body-style { font-family: "Roboto" , sans-serif;}

.header-style,.about-us-style, .main-style   {background-color: #FFFFFF;}
.title-section-style, .footer-style {background-color: #2F303A;}
.our-team-style {background-color: #F5F4FA;}

.style-logo { color: #000000;}


.link-style, .link {color: #000000; list-style: none; text-decoration: none;font-size: 14px;
    font-style: normal;font-weight: 500; }
.link-style, .link:visited {color: #000000;}
.link-style .link:hover,.link-style .link:focus  {color:#2196F3}
 
.header-contacts, .contact {color: #757575; list-style: none; text-decoration: none;font-size: 14px;
    font-style: normal; font-weight: 500;}
.header-contacts, .contact:hover {color: #2196F3;}



.h1-title {color: #FFF;text-align: center;font-size: 44px;font-style: normal;
    font-weight: 900;line-height: 60px; letter-spacing: 2.64px;text-transform: uppercase; width: 696px;}

.main-button {background-color: #2196F3; color: #FFF;text-align: center; border: none; width: 200px;
height: 50px; flex-shrink: 0; font-size: 16px;font-style: normal;font-weight: 700;}
.portofolio-buttons{list-style: none;}
 .buttons-style {background-color: #F5F4FA; color: #212121; border: none; font-size: 16px;
    font-style: normal;font-weight: 500; }
.buttons-style:hover{background-color: #2196F3; color: #FFF;}


.contacts {color: #757575; }